.jumbotron{
    background-color: aquamarine;
    color: black;
    margin-bottom: 30px;
    margin-top: 60px;
}

.btn{
    color:cadetblue;
    background-color: darkblue;
}

footer{
    padding: 10px 10px 0px 10px;
    background-color: aquamarine;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-ciudad{
    flex: 1 280px;
    padding: 5px 8px 5px 8px;
    margin-top: 20px;
}

.btn-reserva{
    width: 100px;
    border-radius: 0px;
}

.ubicacion{
    background-color: gainsboro;
}

.footer-icon{
    padding-right: 20px;
}